* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


div.logo {
    float: left;
    width: 50%;
}
img.logo {
    padding-left: 20px;
}

div.navi-container {
    float: left;
    width: 50%;
    display: flex;
}
button.sign {
    width: 170px;
    height: 42px;
    font-size: 18px;
}
/* Full-width input fields */
input.sign[type=text], input.sign[type=password] {
    width: 99%;
    padding: 12px 0 12px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
}
/* Setting a style for all the buttons */
button {
    background-color: #00008b;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
/* Extra styling for the cancel button */
.cancelbtn {
    width: auto;
    padding: 8px 8px;
    background-color: #f44336;
    font-size: 10px;
}

.container {
    padding: 10px;
    text-align: left;
    font-size: 14px;
}
span.psw {
    float: right;
    padding-top: 16px;
}

button.signup {
    height: 30px;
    width: 90px;
}

/*Popup Background */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}
.popup-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888888;
    width: 40%;
}

div.signup, div.searchbar, div.socials {
    flex: 1;
}

input.searchbar {
    width: 400px;
    height: 36px;
    font-size: 18px;
    margin-top: 0;
}
