* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/***********************************************************************/
/****************************** HEADER SECTION ************************/
/*********************************************************************/

div.topnav {
    margin-top: 5px;
    overflow: hidden;
}

a:-webkit-any-link {
    cursor: pointer;
    color: -webkit-link;
    text-decoration: none;
}

div.logo {
    float: left;
    width: 50%;
}
img.logo {
    padding-left: 20px;
}

div.navi-container {
    float: left;
    width: 50%;
    display: flex;
}

div.signup {
    margin-left: 143px;
}
button.sign {
    width: 170px;
    height: 42px;
    font-size: 18px;
}
/* Full-width input fields */
input.sign[type=text], input.sign[type=password] {
    width: 99%;
    padding: 12px 0 12px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
}
/* Setting a style for all the buttons */
button {
    background-color: #00008b;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
/* Extra styling for the cancel button */
.cancelbtn {
    width: auto;
    padding: 8px 8px;
    background-color: #f44336;
    font-size: 10px;
}

.container {
    padding: 10px;
    text-align: left;
    font-size: 14px;
}
span.psw {
    float: right;
    padding-top: 16px;
}

button.signup {
    height: 30px;
    width: 90px;
}

/*Popup Background */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}
.popup-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888888;
    width: 40%;
}

div.searchbar {
    margin-left: 20px;
    margin-right: 20px;
}
input.searchbar {
    width: 400px;
    height: 42px;
    font-size: 18px;
    margin-top: 0;
}


/**********************************************************************************/
/****************************** NAVIGATION BAR(s) SECTION ************************/
/********************************************************************************/
div.navbar {
    display: flex;
    align-items: center;
    background-color: #00008b;
    color: white;
    width: 100%;
    font-size: 20px;
    font-family: sans-serif;
}
nav {
    flex: 1;
    text-align: left;
}
nav ul {
    display: inline-block;
    list-style-type: none;
    justify-content: space-around;
}
ul li {
    display: inline-block;
    padding: 10px 1px 10px 10px;
    width: 150px;
    color: white;
}

.navi {
    cursor: pointer;
}
ul li:hover {
    background-color: red;
}
li.empty {
    width: 20px;
    padding-left: 0;
    padding-right: 0;
}
li.empty:hover {
    background: none;
}

/**************************************************************/
/************** BOTTOM NAVBAR SECTION ************************/
/************************************************************/
div.bnav {
    display: flex;
    align-items: left;
    background-image: linear-gradient(to right, #00008b, #0000c6, #0202ff, #3d3dff);
    color: white;
    width: 100%;
    font-size: 14px;
    font-family: sans-serif;
}
div.bnav nav {
    border-top: 1px solid #6183A6;
}
div.bnav ul li {
    padding: 8px 5px 6px 10px;
    border-right: 2px solid #6183A6;
    width: 150px;
}
.bnav ul li.lempty {
    width: 20px;
    border-right: none !important;
    padding: 10px 0;
}
.bnav ul li.lempty:hover {
    background: none;
}

/***************************************************************************/
/****************************** Main IMAGE SECTION ************************/
/*************************************************************************/
img.team {
    margin-left: 20px;
    margin-top: 5px;
}


/********************************************************************************/
/****************************** HOMEPAGE PLACES SECTION ************************/
/******************************************************************************/
div.locations {
    margin-top: 40px;
}


/***********************************************************************/
/****************************** SLIDER SECTION ************************/
/*********************************************************************/
div.slides p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
}
.slider {
    width: 98%;
    margin-left: 20px;
    text-align: center;
    overflow: hidden;
}

/************************************************************/
/********************* SHOP SECTION ************************/

.slidery {
    width: 97%;
    margin-left: 26px;
    text-align: center;
    overflow: hidden;
    padding-left: 10px;
}
.slidery .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 215px;
    height: 260px;
    margin-right: 50px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.slidery .slides p {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px !important;
    font-weight: 600;
}

.sliderx .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 250px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
.sliderx {
    text-align: center;
    overflow: hidden;
    margin-left: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sliderx .slides p {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px !important;
    font-weight: 600;
}

/**********************************************************/
/**********************************************************/
.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.slides::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
    background: transparent;
}
.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 200px;
    height: 220px;
    margin-right: 50px;
    border-radius: 5px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}


/******************************************************************************/
/****************************** HOMEPAGE NEWS SECTION ************************/
/****************************************************************************/
div.news {
    margin-top: 40px;
    margin-left: 20px;
    
    height: 400px;

}
div.clubs {
    float: left;
    width: 33.33%;
}
.clubs img, .regatta img, .rowathon img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.clubs p, .rowathon p, .regatta p {
    text-align: center;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 25px;
    font-weight: 600;
}
div.regatta {
    float: left;
    width: 33.33%;
}
div.rowathon {
    float: left;
    width: 33.33%;
}


/*******************************************************************************/
/****************************** HOMEPAGE STORY SECTION ************************/
/*****************************************************************************/
div.story {
    width: 98%;
    margin-left: 20px;
    margin-top: 40px;
}
div.subheading p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 800;
    font-family: sans-serif;
}
div.stori {
    overflow: hidden;
}
div.desc {
    float: left;
    width: 67%;
    font-size: 22px;
    font-weight: 400;
    padding-right: 20px;
    padding-top: 10px;
    font-family: sans-serif;
    line-height: 135%;
    height: 100%;
}
div.elder {
    float: left;
    width: 33%;
    padding-top: 10px;
    height: 100%;
}


/***********************************************************************/
/****************************** FOOTER SECTION ************************/
/*********************************************************************/
div.footer {
    width: 100%;
    height: 100px;
    background-color: #00008b;
    margin-top: 20px;
    padding-top: 20px;
}
div.leftcontent {
    float: left;
    width: 50%;
    text-align: left;
    padding-left: 20px;
    justify-content: space-around;
}
div.rightcontent {
    float: left;
    width: 50%;
    text-align: right;
    padding-right: 30px;
    justify-content: space-around;
}
a {
    text-decoration: none;
    list-style: none;
    color: white !important;
}
.leftcontent p, .rightcontent p {
    margin-bottom: 10px;
}


/***************************************************************************/
/****************************** ABOUT PAGE SECTION ************************/
/*************************************************************************/

/******************************************************************/
/********************* Main image SECTION ************************/
/****************************************************************/
div.img h1 {
    position: absolute;
    bottom: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 42px;
}
div.img p {
    text-align: left;
    color: black;
    margin-left: 20px;
    font-size: 20px;
    width: 98%;
}


/*************************************************************/
/********************* Boxes SECTION ************************/
/***********************************************************/
div.boxes {
    margin-top: 15px;
    overflow: hidden;
    font-family: sans-serif;
}
.row1 img, .row2 img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
div.boxes h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
div.boxes p {
    line-height: 130%;
    width: 800px;
    font-size: 16px;
    font-weight: 200;
}
div.row1 {
    margin-bottom: 25px;
}
div.row1, div.row2 {
    overflow: hidden;
}

div.camp {
    float: left;
    width: 50%;
    padding-left: 20px;
}
div.camp h1, div.camp p {
    padding-left: 66px;
}
div.sport {
    float: left;
    width: 50%;
}
div.sport h1, div.sport p {
    padding-left: 75px;
}
div.women {
    float: left;
    width: 50%;
    padding-left: 20px;
}
div.women h1, div.women p {
    padding-left: 67px;
}
div.compete {
    float: left;
    width: 50%;
}
div.compete h1, div.compete p {
    padding-left: 75px;
}


/****************************************************************************/
/****************************** EVENTS PAGE SECTION ************************/
/**************************************************************************/

/******************************************************************/
/********************* Main image SECTION ************************/
/****************************************************************/
div.main div.cimg h1 {
    position: absolute;
    bottom: 55%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 42px;
    color: white;
    width: 705px;
}
div.cimg p {
    text-align: left;
    color: black;
    margin-left: 20px;
    font-size: 20px;
    width: 98%;
}

/****************************************************************/
/********************* Specials SECTION ************************/
/**************************************************************/
div.specials {
    margin-left: 20px;
    margin-top: 15px;
    overflow: hidden;
}
div.special1 {
    float: left;
    width: 25%;
}
div.special2 {
    float: left;
    width: 25%;
}
div.special3 {
    float: left;
    width: 25%;
}
div.special4 {
    float: left;
    width: 25%;
}

/**************************************************************************/
/****************************** NEWS PAGE SECTION ************************/
/************************************************************************/
div.rowy1, div.rowy2 {
    overflow: hidden;
    padding-left: 20px;
}
div.rowy1 p, div.rowy2 p {
    width: 90%;
}
div.rowy1 h3, div.rowy2 h3 {
    width: 90%;
}
div.rowy1 {
    margin-bottom: 25px;
    margin-top: 10px;
}
div.box1 {
    float: left;
    width: 25%;
}
div.box2 {
    float: left;
    width: 25%;
}
div.box3 {
    float: left;
    width: 25%;
}
div.box4 {
    float: left;
    width: 25%;
}

div.box5 {
    float: left;
    width: 25%;
}
div.box6 {
    float: left;
    width: 25%;
}
div.box7 {
    float: left;
    width: 25%;
}
div.box8 {
    float: left;
    width: 25%;
}


/**************************************************************************/
/****************************** SHOP PAGE SECTION ************************/
/************************************************************************/
#main div.isp h1 {
    position: absolute;
    top: 310px;
    left: 50px;
    right: 30%;
    width: 700px;
    font-size: 68px;
    color: white;
}
div.content1, div.content2, div.content3 {
    padding-left: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}
div.content1 {
    margin-top: 20px;
}
div.poster {
    float: left;
    width: 20%;
}
div.kit {
    float: left;
    width: 80%;
}
p.kitp {
    width: 98%;
    padding-left: 35px;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 150%;
    margin-bottom: 168px;
}
div.kit h1 {
    padding-left: 35px;
    margin-bottom: 10px;
}
div.equip {
    float: left;
    width: 80%;
    padding-left: 20px;
}
div.equip h1 {
    padding-left: 35px;
    margin-bottom: 10px;
}
p.row {
    width: 98%;
    padding-left: 35px;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 145%;
}
img.rower {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
div.rgift {
    float: left;
    width: 80%;
}
p.giftow {
    width: 98%;
    padding-left: 35px;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 145%;
    margin-bottom: 105px;
}
div.rgift h1 {
    padding-left: 35px;
    margin-bottom: 10px;
}

/***************************************************************************/
/****************************** CONTACT US SECTION ************************/
/*************************************************************************/
div.maincontent {
    overflow: hidden;
    margin-top: 5px;
}
div.maincontent p {
    line-height: 145%;
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
}
div.maincontent h1, h2 {
    font-family: sans-serif;
}

div.contact {
    float: left;
    width: 50%;
    padding-left: 20px;
}
div.address, div.hour, div.no {
    margin-top: 15px;
}
div.address h2, div.hour h2, div.no h2 {
    font-weight: 600;
}


div.message {
    float: left;
    width: 50%;
}
div.message h1 {
    text-align: center;
}
div.contact-form {
    margin-top: 33px;
}
.form-control {
    width: 98% !important;
    height: 100px;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid gray;
    color: #000000;
    font-size: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
}
form .submit {
    border-color: transparent;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 18px;
}
form .submit:hover {
    background-color: #f44336;
    cursor: pointer;
}
b.name, b.email {
    font-size: 24px;
    font-weight: 600;
    font-family: sans-serif;
}
textarea.form-control {
    font-family: sans-serif;
    width: 630px;
}
button.send {
    height: 40px;
    font-size: 18px;
    width: 98%;
}
input.name, input.email {
    width: 98%;
    padding: 5px 0 5px 5px;
}

div.morecontent {
    overflow: hidden;
}
div.morecontent h1 {
    padding-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 30px;
}
button.view {
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-left: 85px;
    margin-top: 10px;
    height: 30px;
}
button.po {
    margin-top: 10px;
}
button.str {
    margin-top: 35px;
}

div.govern {
    float: left;
    width: 25%;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 140%;
}

div.brand {
    float: left;
    width: 25%;
    padding-right: 10px;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 140%;
}
div.pol {
    float: left;
    width: 25%;
    padding-right: 10px;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 140%;
}
div.strat {
    float: left;
    width: 25%;
    padding-right: 20px;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 140%;
}
div.govern p, div.brand p, div.pol p, div.strat p {
    margin-top: 10px;
}

/*********************************************************************/
/********************* Media Queries SECTION ************************/
/*******************************************************************/
@media only screen and (max-width: 1500px) {
    div.signup {
    margin-left: 0;
    }
    div.searchbar {
        margin-left: 10px;
        margin-right: 10px;
    }
    input.searchbar {
        width: 320px;
    }

    div.desc p {
        font-size: 16px;
    }

}

@media only screen and (max-width: 1024px) {
    div.navi-container {
        width: 70%;
    }
    div.logo {
        width: 30%;
    }
    img.team, div.news, .slider {
        margin-left: 10px;
    }
    div.news {
        height: 260px;
    }
    div.desc p {
        font-size: 14px;
    }
    div.story {
        margin-left: 10px;
    }
    div.elder {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 950px) {
    div.searchbar {
        display: none;
    }
    div.logo {
        width: 50%;
    }
    div.navi-container {
        width: 50%;
    }
    div.socials {
        margin-left: 25px;
    }
    div.clubs, div.regatta, div.rowathon {
        width: 100%;
        margin-bottom: 40px;
    }
    div.elder {
        margin-top: 0;
        width: 100%;
    }
    div.desc {
        width: 100%;
    }
    ul li {
        width: 120px;
    }
    li.rowing {
        width: 130px;
    }
    div.subheading, div.story {
        overflow: hidden;
    }
}
@media only screen and (max-width: 768px) {
    div.socials {
        display: none;
    }
    nav ul {
        display: block;
    }
    li.rowing {
        width: 100%;
    }
    ul li {
        width: 100%;
        text-align: center;
    }
    nav.nav {
        margin: 0 auto;
    }
    div.slider {
        margin-left: 1px;
    }
}
@media only screen and (max-width: 540px) {
    ul li.empty {
        display: none;
    }
    img.team, div.news, .slider{
        margin-left: 0;
    }
    div.story {
        margin-left: 2px;
    }
    div.subheading p {
        text-align: center;
    }
    div.desc p {
        line-height: 130%;
    }
    img.team {
        height: 200px;
        width: 100%;
    }
    div.logo {
        width: 100%;
    }
    div.navi-container {
        overflow: hidden;
        width: 100%;
        padding-bottom: 3px;
        text-align: center !important;
    }

    .slides > div {
        width: 260px;
        height: 275px;
    }
    .slides img {
        width: 260px;
        height: 200px;
    }
    #slides-1 {
        margin-left: 20px;
    }
    #slides-10 {
        margin-right: 30px;
    }

}