* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/***********************************************************************/
/****************************** HEADER SECTION ************************/
/*********************************************************************/

div.topnav {
    margin-top: 5px;
}

a:-webkit-any-link {
    cursor: pointer;
    color: -webkit-link;
    text-decoration: none;
}

div.logo {
    float: left;
    width: 50%;
}
img.logo {
    padding-left: 20px;
}

div.navi-container {
    float: left;
    width: 50%;
    display: flex;
}

div.signup {
    margin-left: 143px;
}
button.sign {
    width: 170px;
    height: 42px;
    font-size: 18px;
}
/* Full-width input fields */
input.sign[type=text], input.sign[type=password] {
    width: 99%;
    padding: 12px 0 12px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
}
/* Setting a style for all the buttons */
button {
    background-color: #00008b;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
/* Extra styling for the cancel button */
.cancelbtn {
    width: auto;
    padding: 8px 8px;
    background-color: #f44336;
    font-size: 10px;
}

.container {
    padding: 10px;
    text-align: left;
    font-size: 14px;
}
span.psw {
    float: right;
    padding-top: 16px;
}

button.signup {
    height: 30px;
    width: 90px;
}

/*Popup Background */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}
.popup-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888888;
    width: 40%;
}

div.searchbar {
    margin-left: 20px;
    margin-right: 20px;
}
input.searchbar {
    width: 400px;
    height: 42px;
    font-size: 18px;
    margin-top: 0;
}


/**********************************************************************************/
/****************************** NAVIGATION BAR(s) SECTION ************************/
/********************************************************************************/
div.navbar {
    display: flex;
    align-items: center;
    background-color: #00008b;
    color: white;
    width: 100%;
    font-size: 20px;
    font-family: sans-serif;
}
nav {
    flex: 1;
    text-align: left;
}
nav ul {
    display: inline-block;
    list-style-type: none;
    justify-content: space-around;
}
ul li {
    display: inline-block;
    padding: 10px 1px 10px 10px;
    width: 150px;
    color: white;
}

.navi {
    cursor: pointer;
}
ul li:hover {
    background-color: red;
}
li.empty {
    width: 20px;
    padding-left: 0;
    padding-right: 0;
}
li.empty:hover {
    background: none;
}

/**************************************************************/
/************** BOTTOM NAVBAR SECTION ************************/
/************************************************************/
div.bnav {
    display: flex;
    align-items: left;
    background-color: #003F87;
    color: white;
    width: 100%;
    font-size: 14px;
    font-family: sans-serif;
}
div.bnav nav {
    border-top: 1px solid #6183A6;
}
div.bnav ul li {
    padding: 8px 5px 6px 10px;
    border-right: 2px solid #6183A6;
    width: 150px;
}
.bnav ul li.lempty {
    width: 20px;
    border-right: none !important;
    padding: 10px 0;
}
.bnav ul li.lempty:hover {
    background: none;
}

/*******************************************************************************/
/****************************** HOMEPAGE IMAGE SECTION ************************/
/*****************************************************************************/
img.team {
    margin-left: 20px;
    margin-top: 5px;
}


/********************************************************************************/
/****************************** HOMEPAGE PLACES SECTION ************************/
/******************************************************************************/
div.locations {
    margin-top: 40px;
}


/***********************************************************************/
/****************************** SLIDER SECTION ************************/
/*********************************************************************/
div.slides p {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
}
.slider {
    width: 98%;
    margin-left: 20px;
    text-align: center;
    overflow: hidden;
}
.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.slides::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
    background: transparent;
}
.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 200px;
    height: 220px;
    margin-right: 50px;
    border-radius: 5px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}


/******************************************************************************/
/****************************** HOMEPAGE NEWS SECTION ************************/
/****************************************************************************/
div.news {
    margin-top: 40px;
    margin-left: 20px;
    width: 98%;
    height: 400px;

}
div.clubs {
    float: left;
    width: 33.33%;
}
.clubs img, .regatta img, .rowathon img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.clubs p, .rowathon p, .regatta p {
    text-align: center;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 25px;
    font-weight: 600;
    font-family: sans-serif;
}
div.regatta {
    float: left;
    width: 33.33%;
}
div.rowathon {
    float: left;
    width: 33.33%;
}


/*******************************************************************************/
/****************************** HOMEPAGE STORY SECTION ************************/
/*****************************************************************************/
div.story {
    width: 98%;
    margin-left: 20px;
    margin-top: 40px;
    height: 400px;
}
div.subheading p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 800;
    font-family: sans-serif;
}
div.desc p {
    float: left;
    width: 67%;
    font-size: 22px;
    font-weight: 400;
    padding-right: 20px;
    padding-top: 10px;
    font-family: sans-serif;
    line-height: 135%;
}
div.elder {
    float: left;
    width: 33%;
    padding-top: 10px;
}


/***********************************************************************/
/****************************** FOOTER SECTION ************************/
/*********************************************************************/
div.footer {
    width: 100%;
    height: 60px;
    background-color: #00008b;
    margin-top: 5px;
}
div.leftcontent {
    float: left;
    width: 50%;
    text-align: left;
    padding-left: 3px;
    justify-content: space-around;
    padding-left: 20px;
}
div.rightcontent {
    float: left;
    width: 50%;
    text-align: right;
    padding-right: 3px;
    justify-content: space-around;
    padding-right: 30px;
}
a {
    text-decoration: none;
    list-style: none;
    color: white !important;
}
.leftcontent p, .rightcontent p {
    margin-bottom: 2px;
}


/***************************************************************************/
/****************************** ABOUT PAGE SECTION ************************/
/*************************************************************************/